/**
* Home
* @author tangxiaomi <81195314@qq.com>
* @date 2023-05-30 15:03:46
* @since 0.0.0
*/

.tab-box
    height: 100%
    /deep/
        .van-tabs__content
            width 100%
            height 100%
.content, .van-tabs__content
    width 100%
    height 100%